extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  main.tn-main
    .sidebar
      h2.title.title-sidebar Chuyên mục hot
    .main-containt
      h1.title.title-page Video