mixin link(title, href, text)
  - if (typeof(text) === 'undefined') text = title
  - if (typeof(href) === 'undefined') href = '#'
  a(href=href, title=title)&attributes(attributes)
    if block
      block
    else
      !=text

mixin img-link(src, title, alt, href)
  - if (typeof(alt) === 'undefined') alt = title
  - if (typeof(href) === 'undefined') href = '#'
  +link(title, href, text)
    +img(alt, src)&attributes(attributes)